<div class="example-container">
    <!-- Angular material | Toolbar => Basic toolbar -->
    <!-- Barra SUPERIOR o dónde si sitúan los 3 guiones en la parte superior izquierda -->    
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            @if (!sidenav.opened) {
                <mat-icon> menu </mat-icon>
            } @else {
                <mat-icon> close </mat-icon>
            }
        </button>

        <!-- etiqueta span | título a la etiqueta que hace referencia-->
        <span> MediApp </span>

        <!-- example-spacer | propiedad CSS => hace referencia al espacio que hay entre las opciones de toolbar-->
        <span class="example-spacer"></span>

        <!-- Botón de referencia al menú -->
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon> more_vert </mat-icon>
        </button>

        <!-- Angular Material | Menu ==> Menu with icons -->
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon> account_box </mat-icon>
                <span> My account </span>
            </button>
            <button mat-menu-item (click)="sidenav.opened = false" (click)="logout()">
                <mat-icon> exit_to_app </mat-icon>
                <span> Logout </span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <!-- BARRA LATERAL | SIDENAV -->
    <!-- mat-sidenav-container => Hace referencia al contenedor total que contiene a la barra lateral y el contenido -->
    <mat-sidenav-container class="example-sidenav-container">
        <!-- mat-sidenav => Es la barra lateral y en ella pondremos las opciones que deseemos que vayan -->
        <mat-sidenav #sidenav style="width: 250px;" mode="over">
            
            <img src="mitocode.png" width="180" style="margin-left: 20px;">

            @for (m of menus; track $index) {
                <mat-divider></mat-divider>
                <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                    routerLink="{{m.url}}" style="cursor: pointer;">
                    <mat-icon> {{m.icon}} </mat-icon>
                    <span> {{m.name}} </span>
                </button>
            }

            <!-- mat-divider => Línea que dívide una opción de otra en la barra lateral
            <mat-divider></mat-divider>

            Configuramos los botones de opciones para el menú de la barra lateral (Sidenav)
            routerLink => Es el argumento que nos permitirá hacer la navegación por rutas
            <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/search" style="cursor: pointer;">
                <mat-icon> search </mat-icon>
                <span> Search </span>
            </button>

            <mat-divider></mat-divider>

            <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/consult-wizard" style="cursor: pointer;">
                <mat-icon> view_carousel </mat-icon>
                <span> Register Consult W. </span>
            </button>

            <mat-divider></mat-divider>
        
            <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/specialty" style="cursor: pointer;">
                <mat-icon> star_rate </mat-icon>
                <span> Specialty </span>
            </button>

            <mat-divider></mat-divider>

            <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/medic" style="cursor: pointer;">
                <mat-icon> healing </mat-icon>
                <span> Medic </span>
            </button>

            <mat-divider></mat-divider>

            <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/exam" style="cursor: pointer;">
                <mat-icon> assignment </mat-icon>
                <span> Exam </span>
            </button>

            <mat-divider></mat-divider>

            <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/patient" style="cursor: pointer;">
                <mat-icon> accessibility </mat-icon>
                <span> Patient </span>
            </button>

            <mat-divider></mat-divider>

            <button class="myButton" [routerLinkActive]="['active']" mat-menu-item (click)="sidenav.toggle()"
                routerLink="/pages/report" style="cursor: pointer;">
                <mat-icon> assessment </mat-icon>
                <span> Report </span>
            </button>

            <mat-divider></mat-divider> -->

        </mat-sidenav> 

        <!-- mat-sidenav-content => Hace referencia al contenido que se mostrará -->
        <mat-sidenav-content>
            <!-- REGLAS DE NAVEGACION | routes.ts -->
             <!-- router-outlet => Hace que las reglas definidas en los archivos routes.ts se puedan respetar -->
            <router-outlet/>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>